@model IEnumerable<WebHotel_vesion1._0.Models.Rol>
   
<div class="row   mt-4 "style="padding-left:15%">

    <div class="col-12 col-md-8">

<div class="card shadow-lg border 0 "style="overflow:hidden">


    <div class="card-body">



                <p class="btn btn-small text-center" id="btn-add">
                    <a asp-action="Create" class="btn btn-small bg-success text-danger"><i class="fa-solid fa-gears"></i>Agregar registro</a>

                </p>
                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdRol)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaRegistro)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaActualizacion)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdRol)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaActualizacion)
                                    </td>
                                    <td class="d-flex gap-4 mt-2">
                                        <a asp-action="Edit" asp-route-id="@item.IdRol" class="btn btn-lg bg-warning"><i class="fa-solid fa-user-pen text-white"></i>Editar</a>
                                        <a asp-action="VerRol" asp-route-id="@item.IdRol" class="btn btn-lg bg-primary"><i class="fa-regular fa-eye"></i>Ver</a>

                                        <a asp-action="Delete" asp-route-id="@item.IdRol" class="btn btn-lg bg-danger"><i class="fa-solid fa-trash"></i>Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>



                </div>
              


    </div>


</div>




    </div>

</div>


                                    <style>body{
                                        
                                        background-color:purple;
                                        padding-top:6%
                                    
                                    
                                    }
                                    
                                    
                                    
                                    </style>