@model IEnumerable<WebHotel_vesion1._0.Models.Rol>
   
<div class="row  justify-content-center ">

    <div class="col-12 col-md-8">

<div class="card shadow-lg border 0 "style="overflow:hidden">


    <div class="card-body">



                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <div class="table-responsive">

                      <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdRol)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaRegistro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaActualizacion)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdRol)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaActualizacion)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



                </div>
              


    </div>


</div>




    </div>

</div>


                                    <style>body{
                                        
                                        background-color:purple;
                                        padding-top:6%
                                    
                                    
                                    }
                                    
                                    
                                    
                                    </style>